<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bean.tet.TestBeanDao" >
    <!-- 对这个语句开启二级缓存 -->
    <cache />
    <select id="findAll" resultType="bean.tet.testBean">
        select * from p_post
    </select>

    <select id="findByPage" resultType="bean.tet.testBean" useCache="false" >
        select * from p_post
    </select>
</mapper>