<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bean.Mapper.UserMapper" >
    <!-- 对这个语句开启二级缓存 -->
    <cache />

    <select id="getUserMapperList" resultType="bean.Entity.UserEntity" >
        Select `id`, `name`, `Date`, `dianhua`, `xingbei`, `shenfenzheng` from `user` ORDER BY `Date` desc
    </select>

</mapper>